*:not(button) {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  width: 500px;
  margin: 0 auto;
}

h1 {
  margin: 10px;
}

button {
  margin: 5px;
}

#container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background-color: #000;
  grid-gap: 1px;
  border: 1px solid black;
}

.cell {
  background-color: #fff;
  transition: background-color .2s;
}
